@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Xpto Turismo</h1>
  <p class="lead">Antes de operar o sistema, por favor acesse o link abaixo para consultar algumas dicas</p>
  <p> @Html.ActionLink("Ajuda sobre o sistema", "Ajuda", "Home")</p>  
  <p class="lead">Seja bem vindo ao Xpto turismo! Para avaliar o nível de satisfação  da sua viagem, clique no link abaixo:</p>
  <p> @Html.ActionLink("Avaliação da viagem", "ListarPendentes", "Viagem")</p>  
</div>

