
<div class="form-group">
    <label for="Name" class="col-sm-2 control-label">Nome:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="client.Name" class="form-control" id="name" placeholder="Informe o nome completo" required/>
    </div>
</div>
<div class="form-group">
    <label for="email" class="col-sm-2 control-label">E-mail:</label>
    <div class="col-sm-10">
        <input type="email" ng-model="client.Email" class="form-control" id="email" placeholder="Informe o e-mail" required/>
    </div>
</div>
<div class="form-group">
    <label for="CellPhone" class="col-sm-2 control-label">Celular:</label>
    <div class="col-sm-10">
        <input type="text" mask="(99) 9?9999-9999" ng-model="client.CellPhone" class="form-control" id="cellPhone" placeholder="Informe o telefone celular" required/>
    </div>
</div>
<div class="form-group">
    <label for="Phone" class="col-sm-2 control-label">Telefone Fixo:</label>
    <div class="col-sm-10">
        <input type="text" mask="(99) 9?9999-9999" ng-model="client.Phone" class="form-control" id="phone" placeholder="Informe o telefone" required/>
    </div>
</div>
<div class="form-group">
    <label for="MaritalStatus" class="col-sm-2 control-label">Estado civil:</label>
    <select class="form-control" ng-model="client.MaritalStatus" 
            ng-options="option for option in ['Casado(o)', 'Solteiro(a)', 'Divorciado(a)', 'Viúvo(a)']"
            required>
    </select>
</div>
<h3>Endereço:</h3>
<div class="form-group">
    <label for="street" class="col-sm-2 control-label">Rua/Av:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="client.Street" class="form-control" id="street" placeholder="Informe a rua/avenida" required/>
    </div>
</div>

<div class="form-group">
    <label for="district" class="col-sm-2 control-label">Bairro:</label>
    <div class="col-sm-10">
        <input type="text"  ng-model="client.District" class="form-control" id="district" placeholder="Informe bairro" required/>
    </div>
</div>

<div class="form-group">
    <label for="number" class="col-sm-2 control-label">Número:</label>
    <div class="col-sm-10">
        <input type="text"  mask="99999" ng-model="client.Number" class="form-control" id="number" placeholder="Informe o número" required/>
    </div>
</div>

<div class="form-group">
    <label for="complement" class="col-sm-2 control-label">Complemento:</label>
    <div class="col-sm-10">
        <input type="text" maxlength="100" ng-model="client.Complement" class="form-control" id="complement" placeholder="Informe o complemento" required/>
    </div>
</div>

<div class="form-group">
    <label for="zipCode" class="col-sm-2 control-label">Cep:</label>
    <div class="col-sm-10">
        <input type="text" mask="99999-999" ng-model="client.ZipCode" class="form-control" id="zipCode" placeholder="Informe o Cep" required/>
    </div>
</div>

<div class="form-group">
    <label for="city" class="col-sm-2 control-label">Cidade:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="client.City" class="form-control" id="city" placeholder="Informe a cidade" required/>
    </div>
</div>

<div class="form-group">
    <label for="state" class="col-sm-2 control-label">Estado:</label>
    <div class="col-sm-10">
        <input type="text" mask="@" repeat="2" ng-model="client.State" class="form-control" id="state" placeholder="Informe o estado" required/>
    </div>
</div>

<div class="form-group">
    <label for="country" class="col-sm-2 control-label">País:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="client.Country" class="form-control" id="country" placeholder="Informe o país" required/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Salvar"/>
    </div>
</div>